# HandMade frontend
VITE_APP_NAME=HandMade
VITE_APP_URL=https://handmadegif.netlify.app
VITE_API_URL=https://handmade-i7gr.onrender.com/api/v1

# Local development override example:
# VITE_API_URL=http://localhost:5000/api/v1
